body{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}
.flex{
display: flex;
}
.header-top {
}
.header-top h1{
  font-size: 20px;
  background-color: #354147;
  color: white;
  text-align: center;
  padding: 8px 0;
  font-weight: normal;
}
.mainmenu{
  height: 120px;
  width: 100%;
  text-align: center;
  padding-left: 430px;
}
.mainmenu ul{

}
.mainmenu img {
  height: 83px;
  margin-top: 13px;
  padding-left: 30px;
}
.mainmenu ul li{
  list-style: none;
  display: inline-block;
  float: left;
  margin-top: 20px;
}
.mainmenu ul li a{
  color:#354147 ;
  padding: 20px 20px;
  text-decoration: none;

}
.mainmenu ul li a:hover{
  border-bottom: 3px solid #F6861F;
  color: #F16423;
  font-weight: bold;
}
.slider{
  height: 670px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background:linear-gradient(0deg, rgba(3, 3, 3, 0.568), rgba(0, 0, 0, 0.425)), url(images/dr-paul-lee-home-slide.jpg) center;
  padding-left: 370px;
  margin: 0 1%;
  
  
}
.slider h2{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding-left: 20px;
}
.slider-content{
  padding-top: 200px;
  width: 830px;
  text-align: center;
}
.slider-content h1 {
  font-size: 70px;
  font-weight: lighter;
  line-height: 0px;
  color: #FFA300;
}
.dr-paul{
  color: #FFA300;
}
.slider-content p{
font-size: 20px;
}
.dr-paul{
font-weight: bold;
}
.slider-content a{
  color: white;
  background-color: rgba(0, 0, 0, 0.349);
  text-decoration: none;
  border:2px solid #fff;
  padding: 15px 40px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 0px 30px 0px 30px;
}
.slider-content a:hover{
  color: #FFA300;
  border:2px solid #FFA300;
  border-radius: 30px 0px 30px 0px;
}
.appointment-header{
  text-align: center;
  justify-content: center;
  margin-bottom: 90px;
}
.patient {
  margin-top: 60px;
  padding: 0 70px;
  text-align: right;
}
.existing-p{
  text-align: left;
}
.patient h3{
  font-size: 25px;
  line-height: 0;
}
.request-appointment-button a{
  color: #fff;
  background-color: #FAAC17;
  text-decoration: none;
  padding: 15px 40px;
  margin-top: 80px;
  display: inline-block;
  border-radius: 0px 30px 0px 30px;
  font-weight: bold;
}
.request-appointment-button a:hover{
  background-color: #F6861F;
}

.appointment-content{
  justify-content: center;
  text-align: center;
  padding: 0 20%;
}
.appointment{
  margin-bottom: 200px;
}
.appointment-content h2 {
  font-size: 35px;
  font-weight: 100;
}
.appointment-content img {
  margin-right: 5%;
  width: 390px;
}
.appointment-content img:last-child{
  margin-right: 0;
}
.after{
  justify-content: center;
}
.appointment-button a{
  color: #FAAC17;
  border:2px solid #FAAC17;
  text-decoration: none;
  padding: 15px 40px;
  margin-top: 80px;
  display: inline-block;
  border-radius: 0px 30px 0px 30px;
  font-weight: bold;
}
.appointment-button a:hover{
  background-color: #FAAC17;
  color: white;
}
.appointment-button{
  text-align: center;
  justify-content: center;
  width: 100%;
}